extends layout

block content
    
    div(class="container" id="start-main-container")

        div(class='container row align-items-center justify-content-center' id="start-top-container" style="margin-top: 20px")
            canvas(
                data-type="radial-gauge"
                data-value="88"
                data-width="200"
                data-height="200"
                data-ticks-angle="270"
                data-bar-width="30"
                data-bar-shadow="1"
                data-color-bar-progress="rgba(77,175,124,.75)"
                data-color-bar="rgba(30,130,76,1)"
                data-border-shadow-width="1"
                data-border-inner-width="1"
                data-border-outer-width="1"
                data-border-middle-width="1"
                data-highlights="false"
                data-value-box-stroke="0"
                data-color-value-box-shadow="0"
                data-value-box-border-radius="0"
                data-value-text-shadow="0"
                data-value-box="0"
                data-needle="true")

        div(class="container col-md-12 center" style="margin-top: 20px" id="start-bottom-container")
            h5  Que quieres hacer hoy?   
            p      
                a(id="btn-mind" data-value = '3') 
                    img(src="/images/personaje-08.svg" width="200" height="200")
                a(id="btn-diet" data-value='2') 
                    img(src="/images/personaje-07.svg" width="160" height="160")
                a(id="btn-body" data-value = '1') 
                    img(src="/images/personaje-06.svg" width="150" height="150")
                a(id="btn-stats") 
                    img(src="/images/stats.png" width="140" height="140")
        script.
            let userId = !{JSON.stringify(id)}
        script(src="/js/start.js")

    