extends layout

block content
        link(href="/css/subscribe.css" rel="stylesheet" type="text/css")

        div(class="container")
            div(class='d-flex justify-content-center mt-5 subscribe-content')
                div(class="col-sm-12 col-lg-8 justify-content-center center" id='sobre-form-container')
                    form(id='sobre-form' action='/api/usuarios/register' method='post') 
                        if errors.length > 0
                            each err in errors
                                div.alert.alert-warning.alert-dismissible.fade.show(role="alert")=err.msg
                                    button.close(type="button" data-dismiss='alert' aria-label='Close')
                                        span(aria-hidden='true') &times; 
                        div.form-group
                            h2 Ingresa tus datos
                            input.form-control#sobre-form-email.mt-3(type='email' placeholder='correo' name=data.correo.name value=data.correo.value)
                            input.form-control#sobre-form-password.mt-3(type='password' placeholder='contraseña' name=data.password.name value=data.password.value)
                            input.checkbox#sobre-checkbox(type="checkbox" required)
                            label.mt-3.ml-1(for='sobre-checkbox') Acepto los terminos y condiciones.
                        button.btn.btn-success#sobre-form-btn(aria-disabled="true") Siguiente
                        div.form-group#expanded-form.display-none
                            h2.mt-4(for='form-group-row') Cuentanos mas de ti
                            div.form-group.row
                                label.col-sm-3.col-form-label.mt-3= data.nombres.label  
                                input#subscribe-form-input.col-sm-3.form-control(name=data.nombres.name type='text' value=data.nombres.value pattern="[A-Za-z\\s]*" title="Solo use letras alfabeticas")
                                label.col-sm-3.col-form-label.mt-3= data.apellidos.label  
                                input#subscribe-form-input.col-sm-3.form-control(name=data.apellidos.name type='text' value=data.apellidos.value pattern="[A-Za-z\\s]*" title="Solo use letras alfabeticas")
                                label.col-sm-3.col-form-label.mt-3= data.edad.label  
                                input#subscribe-form-input.col-sm-3.form-control(name=data.edad.name step="1" type='number' min='1' max='100' value=data.edad.value pattern="[0-9]{1,2}")                    
                                label.col-sm-3.col-form-label.mt-3= data.parentesco.label
                                select.col-sm-3.form-control.mt-3(name=data.parentesco.name)
                                    each option, index in data.parentesco.options
                                        if data.parentesco.options[index] == data.parentesco.selected
                                            option(value=index+1 selected)= option
                                        else
                                            option(value=index+1)= option

                                label.col-sm-3.col-form-label.mt-3= data.genero.label
                                select.col-sm-3.form-control.mt-3(name=data.genero.name)
                                    each option, index in data.genero.options
                                        if data.genero.options[index] == data.genero.selected
                                            option(value=index+1 selected)= option
                                        else
                                            option(value=index+1)= option
                                
                                label.col-sm-3.col-form-label.mt-3= data.comuna.label
                                select.col-sm-3.form-control.mt-3(name=data.comuna.name)
                                    each option, index in data.comuna.options
                                        if data.comuna.options[index]._id == data.comuna.selected
                                            option(value=option._id selected)= option.comuna
                                        else
                                            option(value=option._id)= option.comuna
                                
                                label.col-sm-3.col-form-label.mt-3= data.educacion.label
                                select.col-sm-3.form-control.mt-3(name=data.educacion.name)
                                    each option, index in data.educacion.options
                                        if data.educacion.options[index] == data.educacion.selected
                                            option(value=index+1 selected)= option
                                        else
                                            option(value=index+1)= option
                            hr.mt-5
                            h4.mt-5 Dinos que tan de acuerdo estas con las siguientes frases:
                            div.form-group.row#form-efficacies.mt-5
                                each field in data.sliderInputs
                                    label.col-sm-12.col-md-6.col-lg-4.col-form-label= field.label
                                    span.col-lg-2.mr-2.mt-2.mobile-display-none Desacuerdo
                                    div.col-sm-12.col-md-6.col-lg-4.mt-2  
                                        input.form-control.mb-3.efficacies-range(type='range' min="0" max="100" value=field.value name=field.name)
                                    span.col-lg-1.ml-2.mt-2.mobile-display-none Acuerdo
                                    span.col-lg-2.mr-2.mt-2.display-none 100
                            button.btn.btn-success(type='submit') Registrar
                script(src="/js/subscribe.js")